body {
    background-image: url('../image/bg.jpg');
    background-size: cover;
}
.navbar {
    background-color: rgba(0, 10, 156, 0.7);
}
.footer {
    background-color: transparent !important;
}
#form-login{
    max-width: 400px;
    background-color: rgba(0, 10, 156, 0.7);
    flex-grow: 1;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.7);
}
#form-submit{
    width: 100%;
}
